{% extends  "MainBundle::base.html.twig" %}

{% block title %}Підрозділи{% endblock %}

{% block navbar %}{% include 'MainBundle::user-navbar.html.twig' %}{% endblock %}

{% block content %}
    {% for institute in institutes %}
        <ul class="cathedras">
            <li>
                <b>
                    {% set iRating = institute.rating %}
                    {% if iRating is null %}
                        <a href="{{ path("profile_institute_show", {'id': institute.id}) }}">
                            {{ institute.title }} (0)
                        </a>
                    {% else %}
                        <a href="{{ path("profile_institute_show", {'id': institute.id}) }}">
                            {{ institute.title }} ({{ iRating.value }})
                        </a>
                    {% endif %}
                </b>
            </li>
            <li>
                <ol style="margin-left: 40px;">
                    {% for cathedra in institute.cathedras %}
                        <li>
                            <i>
                                {% set cRating = institute.rating %}
                                {% if cRating is null %}
                                    <a href="{{ path("profile_cathedra_show", {'id': cathedra.id}) }}">
                                        {{ cathedra.title }} (0)
                                    </a>
                                {% else %}
                                    <a href="{{ path("profile_cathedra_show", {'id': cathedra.id}) }}">
                                        {{ cathedra.title }} ({{ cRating.value }})
                                    </a>
                                {% endif %}
                            </i>
                        </li>
                    {% endfor %}
                </ol>
            </li>
        </ul>
    {% endfor %}
{% endblock %}