{% extends '::admin.html.twig' %}
{% block title %} Категорії{% endblock %}
{% block body -%}
    <h1>Категорії</h1>
    <a class="btn btn-success pull-right" href="{{ path('category_new') }}">{{ 'Додати Критерій' }}</a>
    <br><br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Назва</th>
                <th>Тип</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="col-md-1"><a href="{{ path('category_edit', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.textType }}</td>
                <td class="col-md-1">
                    <a class="btn btn-info btn-mini" href="{{ path('category_edit', { 'id': entity.id }) }}">
                        <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
