<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin Panel{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets  filter='cssrewrite'
            '@RatingMainBundle/Resources/public/css/reset.css'
            '@bootstrap_css'
            '@bootstrap_theme_css'
            '@RatingMainBundle/Resources/public/less/*'
            output='css/general.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div>
            <header class="wrapper container">
                <h3>Рейтенгова система НПУ ім. М. П. Драгоманова</h3>
                {% set currentPath = app.request.attributes.get('_route') %}
                <ul class="nav nav-tabs">
                    <li role="presentation"
                        {% if currentPath == 'my_profile' %}class="active" {% endif %}>
                        <a href="{{ path('my_profile') }}">Мій Профіль</a>
                    </li>
                    <li role="presentation"
                        {% if currentPath == 'my_measure' %}class="active" {% endif %}>
                        <a href="{{ path('my_measure') }}">Особова картка</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li role="presentation"
                            {% if currentPath == 'cathedras_list' %} class="active" {% endif %}>
                            <a href="{{ path('cathedras_list') }}">Підрозділи</a>
                        </li>
                        <li role="presentation"
                            {% if currentPath == 'rating_user' %} class="active" {% endif %}>
                            <a href="{{ path('rating_user') }}">Рейтинг викладачів</a>
                        </li>
                        <li role="presentation"
                            {% if currentPath == 'rating_student' %} class="active" {% endif %}>
                            <a href="{{ path('rating_student') }}">Рейтинг студентів</a>
                        </li>
                    {% endif %}

                    <li role="presentation" class="navbar-right" > <a href="{{ path('logout') }}">Вийти</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="{% if currentPath == 'admin_index' %}navbar-right active{% else %}navbar-right {{ currentPath }}{% endif %}"
                            role="presentation">
                            <a href="{{ path('admin_index') }}">Адміністративна панель</a>
                        </li>
                    {% endif  %}
                </ul>
            </header>
        </div>
        <div id="wrapper" class="container">
            {% for flash_message in app.session.flashbag.get('success_create') %}
                <div class="alert alert-success">
                    <strong>Успіх!</strong>  Дані успішно збережені!
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('success_edit') %}
                <div class="alert alert-info">
                    <strong>Успіх!</strong>  Дані успішно відредаговані!
                </div>
            {% endfor %}

            <h2>Адміністративна панель</h2>

            <ul class="nav nav-tabs" style="margin-bottom: 50px">
                <li {% if currentPath == 'user' %}class="active" {% endif %}><a href="{{ path('user') }}">Користувачі</a></li>
                <li {% if currentPath == 'institutes' %}class="active" {% endif %}><a href="{{ path('institutes') }}">Факультети</a></li>
                <li {% if currentPath == 'cathedras' %}class="active" {% endif %}><a href="{{ path('cathedras') }}">Кафедри</a></li>
                <li {% if currentPath == 'position' %}class="active" {% endif %}><a href="{{ path('position') }}">Посади</a></li>
                <li {% if currentPath == 'year' %}class="active" {% endif %}><a href="{{ path('year') }}">Навчальні роки</a></li>
                <li {% if currentPath == 'criterion' %}class="active" {% endif %}><a href="{{ path('criterion') }}">Критерії</a></li>
                <li {% if currentPath == 'group' %}class="active" {% endif %}><a href="{{ path('group') }}">Групи критерїів</a></li>
                <li {% if currentPath == 'category' %}class="active" {% endif %}><a href="{{ path('category') }}">Категорії критеріїв</a></li>
            </ul>

            {% block body %}

            {% endblock %}
        </div>
        {% block javascripts %}

            {% javascripts
            '@jquery_js'
            '@bootstrap_js'
            '@RatingMainBundle/Resources/public/scripts/ajax.form.js'
            '@RatingMainBundle/Resources/public/scripts/app.js'
            '@AppBundle/Resources/public/js/dashboard.js'
            '@AppBundle/Resources/public/js/bootstrap-multiselect.js'

            %}

            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
