{% extends '::admin.html.twig' %}
{% block title %} Навчальні роки{% endblock %}
{% block body -%}
    <h1>Навчальні роки</h1>
    <a class="btn btn-success pull-right" href="{{ path('year_new') }}">{{ 'Додати Рік' }}</a>
    <br><br><br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>

                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr  {% if entity.active == true %}style="background-color: lavender"{% endif %}>
                <td class="col-md-1"><a href="{{ path('year_edit', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.title }}</td>
                <td class="col-md-2">
                    <a class="btn btn-info btn-mini" href="{{ path('year_edit', { 'id': entity.id }) }}" title="Редагувати">
                        <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-success btn-mini" href="{{ path('generate_measures', { 'year': entity.id }) }}" title="Створити критерії для цього року">
                        <span  class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
