{% extends '::admin.html.twig' %}
{% block body %}
<ul>
    <li><a href="{{ path('user') }}">Користувачі</a></li>
    <br>
    <li><a href="{{ path('institutes') }}">Інститути</a></li>
    <li><a href="{{ path('cathedras') }}">Кафедри</a></li>
    <li><a href="{{ path('position') }}">Посади</a></li>
    <br>
    <li><a href="{{ path('year') }}">Навчальні роки</a></li>
    <br>
    <li><a href="{{ path('criterion') }}">Критерії</a></li>
    <li><a href="{{ path('group') }}">Групи критерїів</a></li>
    <br>
    <li><a href="{{ path('category') }}">Категорії критеріїв</a></li>
    <li><a href="{{ path('type') }}">Типи категорій</a></li>

</ul>
{% endblock %}