{% extends '::admin.html.twig' %}
{% block body %}
<ul>
    <li><a href="{{ path('user') }}">Користувачі</a></li>
    <li><a href="{{ path('institutes') }}">Інститути</a></li>
    <li><a href="{{ path('cathedras') }}">Кафедри</a></li>
    <li><a href="{{ path('position') }}">Посади</a></li>
   {# <li><a href="{{ path() }}">Критерії</a></li>
    <li><a href="{{ path() }}">Навчальні роки</a></li>
    <li><a href="{{ path() }}">Категорії</a></li>
    <li><a href="{{ path() }}"></a></li>
    <li><a href="{{ path() }}"></a></li>
    <li><a href="{{ path() }}"></a></li>#}
</ul>
{% endblock %}