{% extends '::admin.html.twig' %}
{% block title %} Критерії{% endblock %}
{% block body -%}
    <a class="btn btn-primary" href="{{ path('admin_index') }}">
        {{ 'Назад' }}
    </a>
    <br>
    <h1>Критерії</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Назва</th>
                <th>Коефіцієнт</th>
                <th>Опис</th>
                <th>Категорія</th>
                <th>Група</th>
                {#<th>Тип</th>#}
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('criterion_edit', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.coefficient }}</td>
                <td>{{ entity.reference }}</td>
                {#<td>{{ entity.type }}</td>#}
                <td>{% if entity.category is not null %}{{ entity.category.title }}{% endif %}</td>
                <td>{% if entity.group is not null %}{{ entity.group.title }}{% endif %}</td>

                <td>
                    <a class="btn btn-info btn-mini" href="{{ path('criterion_edit', { 'id': entity.id }) }}">
                        <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="btn btn-success" href="{{ path('criterion_new') }}">
        {{ 'Додати Критерій' }}
    </a>
{% endblock %}
