{% extends  "::profile.html.twig"%}

{% block body %}
    <style>
        .form-group{
            margin-bottom: 50px;
            display: inline-block;
            margin-right: 29px;
        }
        #job .form-group:last-child{
            margin-right: 0;
        }
    </style>
    <div class="filers">
        {{ form(form) }}
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ПІБ</th>
                <th>Факультет</th>
                <th>Група</th>
                <th>Форма навчання</th>
                <th>Рейтинг</th>
            </tr>
        </thead>
        {% for u in users %}
            <tr>
                <td>{{ u.fname }} {{ u.lname }} {{ u.pname }}</td>
                <td>{{ u.institute }}</td>
                <td>{{ u.groupEd }}</td>
                <td>{{ u.formEd }}</td>
                <td>{{ u.summa }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            getCathedrasList('#job_institute', '#job_cathedra');
        });
    </script>
{% endblock javascripts%}

