{% extends '::profile.html.twig' %}
{% block title %} Особ1ова картка {% endblock %}
{% block body -%}
    {% for job in measures %}
        <div class="jobs_container">
            <h4 style="position: relative">{% if app.user.isStudent %} {{ job.job.institute.title }} - {{ job.job.group }} {% else %} {{ job.job.cathedra.institute.title }} - {{ job.job.cathedra.title }}{% endif %} <b></b></h4>
            <div class="category-accordion">
                {% for category in job.categories %}
                    <h3>{{ category.title }}<b style="text-align: right"></b></h3>
                    <div class="category-block category_{{ category.category_id }}_{{ job.job.id }}" >
                        {% if category.singles is defined %}
                            {% for single in category.singles %}
                                <div style="width: 600px; display: inline-block">{{ single.criteria_title }}</div>
                                <div style="width: 200px; display: inline-block">{{ single.criteria_coefficient }}</div>
                                <div class="value_{{ single.measure.id }}" style="width: 200px; display: inline-block">{{ single.measure.value }}</div>
                                <div style="width: 50px; display: inline-block">
                                    <a data-target="#modalMeasure" data-toggle="modal"  class="btn btn-info btn-xs edit-measure-link" data-id="{{ single.measure.id }}" data-href="{{ path('edit_measure', {'id': single.measure.id}) }}" title="Редагувати">
                                        <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                </div>
                                <div class="measure_total measure_{{ single.measure.id }}" style="display: inline-block; width:  70px">{{ single.criteria_coefficient * single.measure.value }}</div>
                                <br><br>
                            {% endfor %}
                        {% endif %}
                        {% if category.grouped is defined %}
                            {% for group in category.grouped %}
                                <div>{{ group.title }}</div>
                                {% for single in group.singles %}
                                    <div class="item-criteria-{% if loop.index is even %}even{% else %}odd{% endif %}">
                                        <div style="margin-left: 100px; width:500px; display: inline-block">{{ single.criteria_title }}</div>
                                        <div style="width: 200px; display: inline-block">{{ single.criteria_coefficient }}</div>
                                        <div style="width: 200px; display: inline-block">{{ single.measure.value }}</div>
                                        <div style="width: 50px; display: inline-block">
                                            <a data-target="#modalMeasure" data-toggle="modal"  class="btn btn-info btn-xs edit-measure-link" data-id="{{ single.measure.id }}" data-href="{{ path('edit_measure', {'id': single.measure.id}) }}" title="Редагувати">
                                                <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </a>
                                        </div>
                                        <div class="measure_total measure_{{ single.measure.id }}" style="display: inline-block; width:  70px">{{ single.criteria_coefficient * single.measure.value }}</div>
                                    </div>
                                {% endfor %}
                                <br><br>
                            {% endfor %}
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </div>
        <br>
    {% endfor %}


    {# START MODAL Measure #}
    <div class="modal fade" id="modalMeasure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Редагування критерія</h4>
                </div>
                <div class="modal-body" id="form-measure-block">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Відмінити</button>
                </div>

            </div>
        </div>
    </div>
    {# END MODAL Measure #}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var $addTagLink = '';
        var $newLinkLi = $('<li class="new-link-field"></li>').append($addTagLink);

        $(document).ready(function(){
            calculateJobsBlock();
            calculateCategoryBlock();
            // setup an "add a tag" link

            // init category accordion
            $('.category-accordion').accordion({
                heightStyle: "content",
                collapsible: true,
                active: false});


            // open measure edit popup
            $(document.body).on('click', '.edit-measure-link', function(){
                $.ajax({
                    method: "get",
                    url:  $(this).attr('data-href')
                })
                        .done(function(e) {
                            $('#form-measure-block').html(e.view);
                            setTimeout( function (){
                                initFieldCollection();
                            }, 50);
                        });
            });


        });


        var calculateJobsBlock = function(){
            var containers = $('.jobs_container');
            containers.each(function(k, container){
                var total = 0;
                $('.measure_total', container).each(function(key ,field){

                    total += parseFloat($(field).text());
                });
                $('h4 b', container).text(total);
            });
        };

        var calculateCategoryBlock = function(){
            var containers = $('.category-block');
            containers.each(function(k, container){
                var totalLabel = $(container).prev();
                var total = 0;
                $('.measure_total', container).each(function(key ,field){
                    total += parseFloat($(field).text());
                });
                $('b', totalLabel, container).text(total);
            });
        };

        // begin field collection block
        function initFieldCollection() {
            var $collectionHolder;

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ol.fields');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        }

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="input-field"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock javascripts%}
