{% extends '::admin.html.twig' %}
{% block title %} Кафедри{% endblock %}
{% block body -%}
    <a class="btn btn-primary" href="{{ path('admin_index') }}">
        {{ 'Назад' }}
    </a>
    <br>
    <h1>Кафедри</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Опис</th>
            <th>Факультет</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cathedra_edit', { 'id': entity.id }) }}">{{ loop.index }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.institute.title }}</td>

                <td>

                    <a class="btn btn-info btn-mini" href="{{ path('cathedra_edit', { 'id': entity.id }) }}">
                        <span  class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="btn btn-success" href="{{ path('cathedra_new') }}">
        {{ 'Додати Кафедру' }}
    </a>
{% endblock %}
