{% extends "@RatingProfile/Profile/index.html.twig" %}

{% block title%}Мій профіль{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form novalidate action="{{ path('my_profile_edit') }}" {{ form_enctype(form) }} method="POST"
                  class="login-form">
                <h3 class="center-block">Редагування профіля</h3>
                <div class="form-group form-error-block">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group form-error-block">
                    {{ form_label(form.firstName) }}
                    {{ form_errors(form.firstName, { 'attr': {'class': 'form-error-block'} }) }}
                    {{ form_widget(form.firstName) }}
                </div>
                <div class="form-group form-error-block">
                    {{ form_label(form.lastName) }}
                    {{ form_errors(form.lastName, { 'attr': {'class': 'form-error-block'} }) }}
                    {{ form_widget(form.lastName) }}
                </div>
                <div class="form-group form-error-block">
                    {{ form_label(form.parentName) }}
                    {{ form_errors(form.parentName, { 'attr': {'class': 'form-error-block'} }) }}
                    {{ form_widget(form.parentName) }}
                </div>
                <div class="form-group form-error-block">
                    {{ form_label(form.birthday) }}
                    {{ form_errors(form.birthday, { 'attr': {'class': 'form-error-block'} }) }}
                    {{ form_widget(form.birthday) }}
                </div>

                <div class="center-block">
                    <input class="btn btn-success" type="submit" value="{{ 'Оновити'|trans }}"/>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
        <div class="col-md-6 text-center">
            <h3 class="center-block">Фото</h3>
            <img style="height: 270px; border-radius: 15px" src="{{ app.user.picture }}">
        </div>
    </div>
{% endblock %}